/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

main, footer, header {
  margin-inline: 5vw;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block: 2rem;
}

.primaryNavList {
  width: 100vw;
  height: 100vh;
  background-color: rgba(37, 43, 70, 0.9);
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding-block: 0;
  margin-block: 0;
  padding-inline: 0;
  transition: 500ms ease-in;
}
.primaryNavList li {
  margin-inline: auto;
  width: 90%;
  padding-block: 1rem;
  text-align: center;
  border-bottom: 1px solid hsl(229deg, 8%, 60%);
}
.primaryNavList li a {
  color: white;
  text-decoration: none;
  font-weight: 100;
  text-transform: uppercase;
}
.primaryNavList li:first-of-type {
  border-top: 1px solid hsl(229deg, 8%, 60%);
}

.loginButton {
  border: 1px solid white;
  background: transparent;
  width: 90%;
  padding: 0.5em 2em;
  margin-block: 1rem;
}
.loginButton a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: clamp(0.7rem, 6vw, 2rem);
}

.navSocials {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-bottom: 5vh;
  gap: 2rem;
}

.hamburgerButton {
  border: 0;
  background: transparent;
}

.topOfList {
  display: flex;
  flex-direction: row;
  margin-inline: auto;
  justify-content: space-between;
  width: 90%;
  padding-block: 2rem;
}
.topOfList button {
  border: 0;
  background: transparent;
}

.navClosed {
  transform: translateY(-100vh);
  transition: 500ms ease-in;
}

@media only screen and (min-width: 450px) and (max-width: 700px) {
  .logo {
    width: 30vw;
  }
  .hamburgerIcon {
    width: 4vw;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .logo {
    width: 30vw;
  }
  .hamburgerIcon {
    width: 4vw;
  }
  .primaryNavList li a {
    font-size: clamp(1rem, 4vw, 2rem);
  }
  .loginButton {
    font-size: clamp(1rem, 4vw, 2rem);
  }
  .closeButton img {
    width: 4vw;
  }
  .navSocials img {
    width: 4vw;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  header {
    justify-content: space-between;
  }
  .hamburgerButton {
    display: none;
  }
  .primaryNavList {
    position: relative;
    display: flex;
    flex-direction: row;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    inset: 0;
    background: transparent;
    gap: 2rem;
  }
  .primaryNavList li {
    border: 0;
  }
  .primaryNavList li a {
    color: hsl(229deg, 31%, 21%);
    font-size: clamp(0.7rem, 1.5vw, 1.5rem);
  }
  .primaryNavList li a:hover, .primaryNavList li a:focus-within {
    color: hsl(0deg, 94%, 66%);
    cursor: pointer;
  }
  .primaryNavList li:first-of-type {
    border: 0;
  }
  .loginButton {
    background-color: hsl(0deg, 94%, 66%);
    border-radius: 10px;
    padding: 0.25em 1.5em;
  }
  .loginButton:hover, .loginButton:focus-within {
    background-color: white;
    border: 1px solid hsl(0deg, 94%, 66%);
    cursor: pointer;
  }
  .loginButton:hover a, .loginButton:focus-within a {
    color: hsl(0deg, 94%, 66%);
  }
  .loginButton a {
    color: white;
    font-size: clamp(0.7rem, 2vw, 1.5rem);
  }
  .topOfList,
  .navSocials {
    display: none;
  }
  .navClosed {
    transform: none;
  }
  .logo {
    -o-object-fit: contain;
       object-fit: contain;
    width: 20vw;
  }
}
@media only screen and (min-width: 1440px) {
  header {
    justify-content: space-between;
  }
  .hamburgerButton {
    display: none;
  }
  .primaryNavList {
    position: relative;
    display: flex;
    flex-direction: row;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    inset: 0;
    background: transparent;
    gap: 2rem;
  }
  .primaryNavList li {
    border: 0;
  }
  .primaryNavList li a {
    color: hsl(229deg, 31%, 21%);
    font-size: clamp(0.7rem, 1.5vw, 1.5rem);
  }
  .primaryNavList li a:hover, .primaryNavList li a:focus-within {
    color: hsl(0deg, 94%, 66%);
    cursor: pointer;
  }
  .primaryNavList li:first-of-type {
    border: 0;
  }
  .loginButton {
    background-color: hsl(0deg, 94%, 66%);
    border-radius: 10px;
    padding: 0.25em 1.5em;
  }
  .loginButton:hover, .loginButton:focus-within {
    background-color: white;
    border: 1px solid hsl(0deg, 94%, 66%);
    cursor: pointer;
  }
  .loginButton:hover a, .loginButton:focus-within a {
    color: hsl(0deg, 94%, 66%);
  }
  .loginButton a {
    color: white;
    font-size: clamp(0.7rem, 2vw, 1.5rem);
  }
  .topOfList,
  .navSocials {
    display: none;
  }
  .navClosed {
    transform: none;
  }
  .logo {
    -o-object-fit: contain;
       object-fit: contain;
    width: 15vw;
  }
}
.heroImageWrapper {
  background-image: url(images/FEMk.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left center;
  min-height: 30vh;
}

.heroText {
  text-align: center;
}

.heroTextInside h1 {
  font-size: clamp(1rem, 9vw, 2rem);
  font-weight: 400;
}
.heroTextInside p {
  margin-inline: auto;
  font-size: clamp(0.7rem, 4vw, 2rem);
  line-height: 2;
  max-width: 30ch;
  color: hsl(229deg, 8%, 60%);
  font-weight: 400;
  padding-block: 1rem;
}

.heroButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.heroButtons button {
  border: 0;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-size: clamp(0.5rem, 4.3vw, 2rem);
  background-color: white;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.11);
}
.heroButtons button a {
  text-decoration: none;
  color: hsl(229deg, 31%, 21%);
}
.heroButtons .alternative {
  background-color: hsl(231deg, 69%, 60%);
}
.heroButtons .alternative a {
  color: white;
}

@media only screen and (min-width: 450px) and (max-width: 1024px) {
  .heroImageWrapper {
    background-image: none;
  }
  .heroImageWrapper img {
    margin-inline: auto;
    width: 80vw;
  }
  .heroTextInside h1 {
    font-size: clamp(1rem, 6vw, 3rem);
  }
  .heroTextInside p {
    font-size: clamp(1rem, 3vw, 1.5rem);
  }
  .heroButtons {
    justify-content: center;
    gap: 2rem;
  }
  .heroButtons a {
    font-size: clamp(1rem, 3vw, 1.5rem);
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .heroSection {
    display: flex;
    flex-direction: row-reverse;
    padding-block: 5rem;
  }
  .heroImageWrapper {
    background-image: none;
    margin-block: auto;
    width: 60%;
  }
  .heroImageWrapper img {
    margin-block: auto;
  }
  .heroText {
    margin-block: auto;
  }
  .heroTextInside {
    text-align: left;
    margin-block: auto;
  }
  .heroTextInside h1 {
    font-size: clamp(1rem, 4vw, 3rem);
    max-width: 20ch;
  }
  .heroTextInside p {
    font-size: clamp(0.5rem, 1.5vw, 1.2rem);
    margin: 0;
  }
  .heroButtons {
    justify-content: left;
    gap: 2rem;
  }
  .heroButtons button:not(.alternative) {
    font-size: clamp(0.7rem, 1.5vw, 1.5rem);
  }
  .heroButtons button:not(.alternative):hover, .heroButtons button:not(.alternative):focus-within {
    background-color: white;
    outline: 2px solid hsl(229deg, 31%, 21%);
    cursor: pointer;
  }
  .heroButtons button:not(.alternative):hover a, .heroButtons button:not(.alternative):focus-within a {
    color: hsl(229deg, 31%, 21%);
  }
  .heroButtons .alternative {
    font-size: clamp(0.7rem, 1.5vw, 1.5rem);
  }
  .heroButtons .alternative:hover, .heroButtons .alternative:focus-within {
    background-color: white;
    outline: 2px solid hsl(231deg, 69%, 60%);
    cursor: pointer;
  }
  .heroButtons .alternative:hover a, .heroButtons .alternative:focus-within a {
    color: hsl(231deg, 69%, 60%);
  }
}
@media only screen and (min-width: 1440px) {
  .heroSection {
    display: flex;
    flex-direction: row-reverse;
    padding-block: 5rem;
  }
  .heroImageWrapper {
    background-image: none;
    margin-block: auto;
    width: 50%;
  }
  .heroImageWrapper img {
    margin-block: auto;
    width: 100%;
  }
  .heroText {
    margin-block: auto;
    margin-inline: auto;
  }
  .heroTextInside {
    text-align: left;
    margin-block: auto;
  }
  .heroTextInside h1 {
    font-size: clamp(1rem, 4vw, 3rem);
    max-width: 20ch;
  }
  .heroTextInside p {
    font-size: clamp(0.5rem, 1.5vw, 1.2rem);
    margin: 0;
  }
  .heroButtons {
    justify-content: left;
    gap: 2rem;
  }
  .heroButtons button:not(.alternative) {
    font-size: clamp(0.7rem, 1.5vw, 1.5rem);
  }
  .heroButtons button:not(.alternative):hover, .heroButtons button:not(.alternative):focus-within {
    background-color: white;
    outline: 2px solid hsl(229deg, 31%, 21%);
    cursor: pointer;
  }
  .heroButtons button:not(.alternative):hover a, .heroButtons button:not(.alternative):focus-within a {
    color: hsl(229deg, 31%, 21%);
  }
  .heroButtons .alternative {
    font-size: clamp(0.7rem, 1.5vw, 1.5rem);
  }
  .heroButtons .alternative:hover, .heroButtons .alternative:focus-within {
    background-color: white;
    outline: 2px solid hsl(231deg, 69%, 60%);
    cursor: pointer;
  }
  .heroButtons .alternative:hover a, .heroButtons .alternative:focus-within a {
    color: hsl(231deg, 69%, 60%);
  }
}
.featuresSection {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-block: 5rem;
}

.featuresIntro h2 {
  font-weight: 400;
  font-size: clamp(1rem, 8vw, 4rem);
}
.featuresIntro p {
  color: hsl(229deg, 8%, 60%);
  line-height: 2;
  font-size: clamp(0.7rem, 4vw, 2rem);
  padding-block: 1rem;
}

.featuresButtons {
  display: flex;
  flex-direction: column;
  -webkit-padding-after: 3rem;
          padding-block-end: 3rem;
}
.featuresButtons button {
  border: 0;
  background: transparent;
  color: hsl(229deg, 8%, 60%);
  padding-block: 1rem;
  border-bottom: 1px solid hsl(229deg, 8%, 60%);
}
.featuresButtons button:first-of-type {
  border-top: 1px solid hsl(229deg, 8%, 60%);
}

.featureContent {
  display: flex;
  flex-direction: column;
}

.featuresText {
  padding-block: 2rem;
}
.featuresText button {
  display: none;
}

.feature h2 {
  font-size: clamp(1rem, 7vw, 2rem);
  font-weight: 400;
}
.feature p {
  color: hsl(229deg, 8%, 60%);
  font-size: clamp(0.7rem, 4vw, 2rem);
  padding-block: 1rem;
}

.chosenFeature {
  position: relative;
}

.chosenFeature::after {
  content: "";
  position: relative;
  display: block;
  width: 50%;
  height: 4px;
  background-color: hsl(0deg, 94%, 66%);
  bottom: -1rem;
  left: 25%;
}

.featureHidden {
  display: none;
}

.chosenFeature {
  color: hsl(229deg, 31%, 21%) !important;
}

@media only screen and (min-width: 450px) and (max-width: 700px) {
  .featuresIntro h2 {
    font-size: clamp(1rem, 6vw, 2rem);
  }
  .featuresIntro p {
    margin-inline: auto;
    font-size: clamp(0.5rem, 3vw, 1rem);
    max-width: 35ch;
  }
  .featuresButtons {
    padding-block: 1rem;
  }
  .featuresButtons button {
    padding-block: 1rem;
    font-size: clamp(1rem, 3vw, 1.5rem);
  }
  .featuresImage {
    margin-inline: auto;
    width: 70vw;
    margin-block: 1rem;
  }
  .feature h2 {
    font-size: clamp(1rem, 6vw, 2rem);
  }
  .feature p {
    margin-inline: auto;
    font-size: clamp(0.5rem, 3vw, 1rem);
    max-width: 35ch;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .featuresIntro h2 {
    font-size: clamp(1rem, 5vw, 3rem);
  }
  .featuresIntro p {
    margin-inline: auto;
    font-size: clamp(1rem, 2vw, 2rem);
    max-width: 35ch;
  }
  .featuresButtons {
    display: flex;
    flex-direction: row;
    margin-inline: auto;
  }
  .featuresButtons button {
    flex-basis: 33%;
    font-size: clamp(1rem, 2.5vw, 2rem);
  }
  .featuresButtons button:first-of-type {
    border-top: none;
  }
  .chosenFeature::after {
    width: 100%;
    left: 0;
  }
  .featuresImage {
    margin-inline: auto;
  }
  .feature h2 {
    font-size: clamp(1rem, 4vw, 3rem);
  }
  .feature p {
    margin-inline: auto;
    font-size: clamp(1rem, 3vw, 2rem);
    max-width: 35ch;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .featuresIntro h2 {
    font-size: clamp(1rem, 5vw, 4rem);
  }
  .featuresIntro p {
    margin-inline: auto;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    max-width: 35ch;
    font-weight: 400;
  }
  .featuresButtons {
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    max-width: 1000px;
  }
  .featuresButtons button {
    flex-basis: 33%;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
  }
  .featuresButtons button:hover, .featuresButtons button:focus-within {
    color: hsl(0deg, 94%, 66%);
    cursor: pointer;
  }
  .featuresButtons button:first-of-type {
    border-top: none;
  }
  .chosenFeature::after {
    width: 100%;
    left: 0;
  }
  .featuresContent {
    display: flex;
    flex-direction: row;
  }
  .featuresContent button {
    display: block;
    border: 0;
    background-color: hsl(231deg, 69%, 60%);
    border-radius: 5px;
    padding: 0.5em 1em;
  }
  .featuresContent button a {
    color: white;
    text-decoration: none;
    font-size: clamp(0.5rem, 1.5vw, 1rem);
  }
  .featuresImage {
    margin-inline: auto;
  }
  .featuresImageWrapper {
    width: 50%;
  }
  .feature h2 {
    font-size: clamp(1rem, 2.5vw, 2.5rem);
  }
  .feature p {
    margin-inline: auto;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    max-width: 35ch;
  }
  .featuresText {
    margin-left: auto;
    text-align: left;
  }
}
@media only screen and (min-width: 1440px) {
  .featuresIntro h2 {
    font-size: clamp(1rem, 4vw, 3rem);
  }
  .featuresIntro p {
    margin-inline: auto;
    font-size: clamp(0.5rem, 1.2vw, 1.5rem);
    max-width: 50ch;
    font-weight: 400;
  }
  .featuresButtons {
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    max-width: 1000px;
  }
  .featuresButtons button {
    flex-basis: 33%;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
  }
  .featuresButtons button:hover, .featuresButtons button:focus-within {
    color: hsl(0deg, 94%, 66%);
    cursor: pointer;
  }
  .featuresButtons button:first-of-type {
    border-top: none;
  }
  .chosenFeature::after {
    width: 100%;
    left: 0;
  }
  .featuresContent {
    display: flex;
    flex-direction: row;
  }
  .featuresContent button {
    display: block;
    border: 0;
    background-color: hsl(231deg, 69%, 60%);
    border-radius: 5px;
    padding: 0.5em 1em;
  }
  .featuresContent button a {
    color: white;
    text-decoration: none;
    font-size: clamp(0.5rem, 1.5vw, 1rem);
  }
  .featuresImage {
    margin-inline: auto;
  }
  .featuresImageWrapper {
    width: 50%;
  }
  .feature h2 {
    font-size: clamp(1rem, 3vw, 2rem);
  }
  .feature p {
    margin-inline: auto;
    font-size: clamp(0.5rem, 1vw, 1.5rem);
    max-width: 35ch;
  }
  .featuresText {
    margin-inline: auto;
    text-align: left;
  }
}
.browsersSection {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.browsersIntro h2 {
  font-size: clamp(1rem, 7vw, 2rem);
  font-weight: 400;
}
.browsersIntro p {
  font-size: clamp(0.5rem, 3vw, 1rem);
  color: hsl(229deg, 8%, 60%);
}

.browserCard {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  box-shadow: 0px 10px 10px 2px rgba(83, 104, 223, 0.1);
  margin-block: 2rem;
  width: 80%;
  border-radius: 15px;
}

.cardTop {
  display: flex;
  flex-direction: column;
  padding-block: 2rem;
  border-bottom: 4px dotted rgba(145, 148, 161, 0.5);
}
.cardTop img {
  width: 40%;
  margin-inline: auto;
  margin-block: 1rem;
}
.cardTop h3 {
  font-size: clamp(1rem, 6vw, 2rem);
  font-weight: 400;
}
.cardTop h4 {
  font-size: clamp(0.7rem, 4vw, 2rem);
  color: hsl(229deg, 8%, 60%);
  font-weight: 400;
}

.cardBottom {
  padding-block: 1rem;
}
.cardBottom button {
  margin-block: auto;
  border: 0;
  border-radius: 5px;
  background-color: hsl(231deg, 69%, 60%);
  padding: 0.5em 2em;
}
.cardBottom button a {
  text-decoration: none;
  color: white;
  font-size: clamp(0.7rem, 3vw, 2rem);
}

@media only screen and (min-width: 450px) and (max-width: 700px) {
  .browsersIntro h2 {
    font-size: clamp(1rem, 6vw, 2rem);
  }
  .browsersIntro p {
    margin-inline: auto;
    font-size: clamp(0.5rem, 3vw, 1rem);
    max-width: 35ch;
  }
  .browserCard {
    width: 50vw;
  }
  .cardTop h3 {
    font-size: clamp(1rem, 4vw, 1.7rem);
  }
  .cardTop h4 {
    font-size: clamp(1rem, 3vw, 1.5rem);
  }
}
@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .browsersIntro h2 {
    font-size: clamp(1rem, 5vw, 3rem);
    padding-block: 1rem;
  }
  .browsersIntro p {
    margin-inline: auto;
    font-size: clamp(1rem, 2.5vw, 2rem);
    max-width: 35ch;
  }
  .browserCard {
    width: 50vw;
  }
  .cardTop h3 {
    font-size: clamp(1rem, 4vw, 1.7rem);
  }
  .cardTop h4 {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
  }
  .cardBottom button a {
    font-size: clamp(1rem, 2.5vw, 2.5rem);
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .browsersIntro h2 {
    font-size: clamp(1rem, 3vw, 3rem);
    padding-block: 1rem;
  }
  .browsersIntro p {
    margin-inline: auto;
    font-size: clamp(0.5rem, 1.5vw, 1.5rem);
    max-width: 35ch;
  }
  .browserCardWrapper {
    display: flex;
    flex-direction: row;
    min-height: 500px;
  }
  .browserCard {
    width: 30%;
    height: 66%;
  }
  .browserCard:nth-of-type(1) {
    margin-bottom: auto;
  }
  .browserCard:nth-of-type(2) {
    margin-block: auto;
  }
  .browserCard:nth-of-type(3) {
    margin-top: auto;
  }
  .cardTop h3 {
    font-size: clamp(0.5rem, 2.5vw, 2rem);
  }
  .cardTop h4 {
    font-size: clamp(0.5rem, 1.5vw, 1.5rem);
  }
  .cardBottom button:hover, .cardBottom button:focus-within {
    outline: 2px solid hsl(231deg, 69%, 60%);
    background-color: white;
    cursor: pointer;
  }
  .cardBottom button:hover a, .cardBottom button:focus-within a {
    color: hsl(231deg, 69%, 60%);
  }
  .cardBottom button a {
    font-size: clamp(0.5rem, 1.5vw, 1.5rem);
  }
}
@media only screen and (min-width: 1440px) {
  .browsersIntro h2 {
    font-size: clamp(1rem, 3vw, 3rem);
    padding-block: 1rem;
  }
  .browsersIntro p {
    margin-inline: auto;
    font-size: clamp(0.5rem, 1.5vw, 1.5rem);
    max-width: 35ch;
  }
  .browserCardWrapper {
    display: flex;
    flex-direction: row;
    min-height: 500px;
  }
  .browserCard {
    width: 25%;
    height: 66%;
    margin-block: 0;
  }
  .browserCard:nth-of-type(1) {
    margin-bottom: auto;
  }
  .browserCard:nth-of-type(2) {
    margin-block: auto;
  }
  .browserCard:nth-of-type(3) {
    margin-top: auto;
  }
  .cardTop h3 {
    font-size: clamp(0.5rem, 2vw, 2rem);
  }
  .cardTop h4 {
    font-size: clamp(0.5rem, 1vw, 1.5rem);
  }
  .cardBottom button:hover, .cardBottom button:focus-within {
    outline: 2px solid hsl(231deg, 69%, 60%);
    background-color: white;
    cursor: pointer;
  }
  .cardBottom button:hover a, .cardBottom button:focus-within a {
    color: hsl(231deg, 69%, 60%);
  }
  .cardBottom button a {
    font-size: clamp(0.5rem, 1vw, 1.5rem);
  }
}
.FAQSection {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-block: 5rem;
}

.faqIntro {
  -webkit-padding-after: 2rem;
          padding-block-end: 2rem;
}
.faqIntro h2 {
  font-size: clamp(1rem, 7vw, 2rem);
  font-weight: 400;
}
.faqIntro p {
  font-size: clamp(0.7rem, 4vw, 2rem);
  color: hsl(229deg, 8%, 60%);
  line-height: 2;
}

.faqContent {
  display: flex;
  flex-direction: column;
}

.faqTile {
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
}

.question {
  display: flex;
  flex-direction: row;
  padding-block: 1rem;
  border-bottom: 1px solid rgba(145, 148, 161, 0.5);
}
.question:hover, .question:focus-within {
  cursor: pointer;
}
.question:hover h3, .question:focus-within h3 {
  color: hsl(0deg, 94%, 66%);
}
.question img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
  margin-left: auto;
}
.question h3 {
  text-align: left;
  font-weight: 400;
  font-size: clamp(0.7rem, 4.5vw, 2rem);
}

.answer {
  text-align: left;
  color: hsl(229deg, 8%, 60%);
  font-size: clamp(0.7rem, 4.5vw, 2rem);
  line-height: 2;
  padding-block: 2rem;
  transition: 500ms ease-in;
}

.hiddenAnswer {
  transform: scaleY(0);
  display: none;
  transition: 500ms ease-in;
}

.moreInfoButton {
  margin-inline: auto;
  border: 0;
  background-color: hsl(231deg, 69%, 60%);
  border-radius: 5px;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 2rem;
  padding: 0.5em 1em;
}
.moreInfoButton a {
  color: white;
  text-decoration: none;
}

@media only screen and (min-width: 450px) and (max-width: 700px) {
  .faqIntro h2 {
    font-size: clamp(1rem, 6vw, 2rem);
    padding-block: 1rem;
  }
  .faqIntro p {
    margin-inline: auto;
    font-size: clamp(0.5rem, 3vw, 1rem);
    max-width: 35ch;
  }
  .question h3 {
    font-size: clamp(0.5rem, 3vw, 1.5rem);
  }
  .answer p {
    font-size: clamp(0.5rem, 3vw, 1rem);
  }
  .moreInfoButton {
    font-size: clamp(0.5rem, 3vw, 1.5rem);
  }
}
@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .faqIntro h2 {
    font-size: clamp(1rem, 4vw, 3rem);
    padding-block: 1rem;
  }
  .faqIntro p {
    margin-inline: auto;
    font-size: clamp(1rem, 2.5vw, 2rem);
    max-width: 35ch;
  }
  .question h3 {
    font-size: clamp(1rem, 2.5vw, 2rem);
  }
  .answer p {
    font-size: clamp(1rem, 2vw, 2rem);
  }
  .moreInfoButton {
    font-size: clamp(0.5rem, 3vw, 1.5rem);
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .faqIntro h2 {
    font-size: clamp(1rem, 3vw, 3rem);
    padding-block: 1rem;
  }
  .faqIntro p {
    margin-inline: auto;
    font-size: clamp(0.5rem, 1.5vw, 1.5rem);
    max-width: 35ch;
  }
  .faqContent {
    margin-inline: auto;
    width: 950px;
  }
  .question h3 {
    font-size: clamp(1rem, 2vw, 1.5rem);
  }
  .answer p {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
  }
  .moreInfoButton {
    font-size: clamp(0.5rem, 3vw, 1.5rem);
  }
}
@media only screen and (min-width: 1440px) {
  .faqIntro h2 {
    font-size: clamp(1rem, 3vw, 3rem);
    padding-block: 1rem;
  }
  .faqIntro p {
    margin-inline: auto;
    font-size: clamp(0.5rem, 1.5vw, 1.5rem);
    max-width: 35ch;
  }
  .faqContent {
    margin-inline: auto;
    width: 950px;
  }
  .question h3 {
    font-size: clamp(1rem, 2vw, 1.5rem);
  }
  .answer p {
    font-size: clamp(0.5rem, 1.2vw, 1.2rem);
  }
  .moreInfoButton {
    font-size: clamp(0.5rem, 3vw, 1.5rem);
  }
}
footer {
  margin-inline: 0;
  background-color: hsl(231deg, 69%, 60%);
}

.footerTop {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  -webkit-padding-before: 3rem;
          padding-block-start: 3rem;
  -webkit-padding-after: 1rem;
          padding-block-end: 1rem;
  align-items: center;
  gap: 1rem;
}
.footerTop h4 {
  font-weight: 400;
  font-size: clamp(0.7rem, 4vw, 2rem);
  width: 80%;
}
.footerTop h3 {
  font-weight: 400;
  font-size: clamp(1rem, 6vw, 2rem);
  width: 80%;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  gap: 1rem;
}
.inputWrapper input {
  border: 0;
  border-radius: 5px;
  padding: 0.5em 3em;
  font-size: clamp(0.7rem, 4vw, 2rem);
}
.inputWrapper input:invalid {
  border: 1px solid hsl(0deg, 94%, 66%);
  background-color: white;
  background: url(images/icon-error.svg) no-repeat;
  background-position: 95% center;
}
.inputWrapper button {
  background-color: hsl(0deg, 94%, 66%);
  color: white;
  border: 0;
  padding: 0.5em 2em;
  border-radius: 5px;
  font-size: clamp(0.7rem, 4vw, 2rem);
}

.footerBottom {
  background-color: hsl(229deg, 31%, 21%);
  padding-block: 3rem;
}

.footerNav {
  margin-inline: auto;
}
.footerNav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-block: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin-block: 0;
  justify-content: center;
  gap: 1rem;
  padding-block: 2rem;
}
.footerNav ul li {
  text-align: center;
}
.footerNav ul li a {
  color: hsl(229deg, 8%, 60%);
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
}

.footerBottomLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footerBottomLeft svg {
  margin-inline: auto;
}

.footerBottomRight {
  display: flex;
  flex-direction: row;
  margin-inline: auto;
  gap: 2rem;
  justify-content: center;
}
.footerBottomRight img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
  width: -moz-fit-content;
  width: fit-content;
}

@media only screen and (min-width: 450px) and (max-width: 700px) {
  .footerTop h4 {
    font-size: clamp(0.9rem, 3vw, 2rem);
  }
  .footerTop h3 {
    font-size: clamp(1rem, 5vw, 2rem);
  }
  .footerTop form input {
    font-size: clamp(1rem, 3vw, 1.5rem);
  }
  .footerTop form button {
    font-size: clamp(1rem, 3vw, 1.5rem);
  }
  .logoBottom {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .footerNav a {
    font-size: clamp(1rem, 3vw, 1.5rem);
  }
}
@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .footerTop h4 {
    font-size: clamp(1rem, 2vw, 2rem);
  }
  .footerTop h3 {
    font-size: clamp(1rem, 5vw, 2rem);
  }
  .footerTop form {
    display: flex;
    flex-direction: row;
  }
  .footerTop form input {
    font-size: clamp(1rem, 3vw, 1.5rem);
  }
  .footerTop form button {
    font-size: clamp(1rem, 3vw, 1.5rem);
  }
  .logoBottom {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .footerNav a {
    font-size: clamp(1rem, 3vw, 1.5rem);
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .footerTop {
    padding-inline: 30vw;
  }
  .footerTop h4 {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
  }
  .footerTop h3 {
    font-size: clamp(1rem, 2vw, 3rem);
  }
  .footerTop form {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .footerTop form input, .footerTop form button {
    padding: 0.5em 2em;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .footerBottom {
    display: flex;
    flex-direction: row;
    padding: 0;
    padding-inline: 10vw;
  }
  .footerBottomLeft {
    display: flex;
    flex-direction: row;
  }
  .logoBottom {
    margin-block: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .footerNav ul {
    display: flex;
    flex-direction: row;
    margin-left: 3rem;
  }
  .footerNav ul li a {
    font-size: clamp(0.5rem, 1.2vw, 1.5rem);
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    margin-inline: 1rem;
  }
  .footerNav ul li a:hover, .footerNav ul li a:focus-within {
    color: hsl(0deg, 94%, 66%);
  }
  .footerBottomRight {
    margin-inline: 0;
    margin-left: auto;
  }
  .footerBottomRight a {
    margin-block: auto;
  }
}
@media only screen and (min-width: 1440px) {
  .footerTop {
    padding-inline: 30vw;
  }
  .footerTop h4 {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
  }
  .footerTop h3 {
    font-size: clamp(1rem, 2vw, 3rem);
  }
  .footerTop form {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .footerTop form input, .footerTop form button {
    padding: 0.5em 2em;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .footerBottom {
    display: flex;
    flex-direction: row;
    padding: 0;
    padding-inline: 10vw;
  }
  .footerBottomLeft {
    display: flex;
    flex-direction: row;
  }
  .logoBottom {
    margin-block: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .footerNav ul {
    display: flex;
    flex-direction: row;
    margin-left: 3rem;
  }
  .footerNav ul li a {
    font-size: clamp(0.5rem, 1.2vw, 1.5rem);
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    margin-inline: 1rem;
  }
  .footerNav ul li a:hover, .footerNav ul li a:focus-within {
    color: hsl(0deg, 94%, 66%);
  }
  .footerBottomRight {
    margin-inline: 0;
    margin-left: auto;
  }
  .footerBottomRight a {
    margin-block: auto;
  }
}/*# sourceMappingURL=style.css.map */